@charset "utf-8";
/* CSS Document */

#cuerpo{
	background-color: #524741;
}

/* Cajas de la divisio */
.box1{
	background-color: #221D1A;
}

.box2{
	text-align:center;
	width: 80%;
	height: 800px;
	background-color: #E6AD2A;
	margin 0 auto;
	margin-left:10%;
}

.box3{
	background-color: #221D1A;
	height: 100px;
	text-align:center;
}

.box4{
	background-color: #D29E26;
	width: 80%;
	height:200px;
	margin 0 auto;
	margin-left:10%
}

.box5{
	background-color: #221D1A;
	width: 80%px;
	height: 1200px;
	margin 0 auto;
}

/* Imagenes y menu horizontal */
#menu-horizontal{
	text-align: right;
	margin: 0px;
}

#menu-horizontal li{
	display:inline;
	padding-left: 5px;
	padding-right: 5px;
	color: #FF0;
}

a:link{
	color:#FF0;
	text-decoration:none;
}

a:visited{
	color:#FF0;
	text-decoration:none;
}

a:hover{
	color:#FFFBF0;
	text-decoration:none;
}

#Logoelotito{
	width: 8%;
}

#imagen1{
	width: 80%;
	height: 600px;
}

#imagen2{
	width: 80%;
	height: 600px;
}

#imagen3{
	width: 80%;
	height: 600px;
}

#imagen4{
	width: 80%;
	height: 600px;
}

#imggrupo1{
	width: 100px;
	height: 70px;
	margin-top: 5px;
}

#imggrupo2{
	width: 100px;
	height: 70px;
	margin-top: 5px;
}

#imggrupo3{
	width: 100px;
	height: 70px;
	margin-top: 5px;
}

#imggrupo4{
	width: 100px;
	height: 70px;
	margin-top: 5px;
}